<section id="section1" class="section">
    <h2>Infancia</h2>
    <div class="imagenes">
        <!-- Primera imagen -->
        <img src="assets/img/infancia1.jpeg" alt="Teoría del Desarrollo Humano" /> <!-- Segunda imagen -->
        <img src="assets/img/infancia2.jpeg" alt="Otro aspecto del desarrollo" />
    </div>
    <!-- Agregar el enlace para abrir el modal -->
    <div class="imagenes">
        <a href="#" (click)="openModal($event)">Ver Video</a>
    </div>
    <p>
        El desarrollo humano abarca las dimensiones biológica, cognitiva, emocional y social. Este
        análisis cubre varias teorías fundamentales.
    </p>
    <ul class="floral-list">
        <li><b>Teoría Psicoanalítica de Freud:</b> Freud planteó que el desarrollo se organiza en etapas psicosexuales, centradas en el placer y los conflictos asociados a diferentes zonas del cuerpo. Estas son:
            <ul class="sublist">
                <br>
                <li>
                    <b>Etapa Oral (0-1 año): </b> El placer se centra en la boca; el destete es el principal desafío.
                </li>
                <br>
                <li>
                    <b>Etapa Anal (1-3 años):</b> El control de esfínteres genera satisfacción y conflictos.
                </li>
                <br>
                <li>
                    <b>Etapa Fálica (3-6 años):</b> Interés en los genitales y desarrollo del complejo de Edipo o Electra.
                </li>
                <br>
                <li>
                    <b>Etapa de Latencia (6-12 años):</b> La libido se encuentra inactiva; se desarrollan habilidades sociales y cognitivas.
                </li>
                <br>
                <li>
                    <b>Etapa Genital (pubertad en adelante):</b> Reactivación de los impulsos sexuales con enfoque en relaciones maduras.
                </li>
                <br>
            </ul>
        </li>
        <li><b>Teoría Cognitiva de Piaget:</b> Piaget propuso que el desarrollo cognitivo ocurre en etapas que reflejan cambios en el pensamiento y la comprensión del mundo:
            <ul class="sublist">
                <br>
                <li><b>Etapa Sensoriomotora (0-2 años): </b>Los bebés exploran el mundo a través de los sentidos. Surge la permanencia del objeto.</li>
                <br>
                <li><b>Etapa Preoperacional (2-7 años): </b>Desarrollo del lenguaje y pensamiento simbólico; se observa egocentrismo.</li>
                <br>
                <li><b>Etapa de Operaciones Concretas (7-11 años): </b>Pensamiento lógico aplicado a problemas concretos. Comprensión de conceptos como conservación.</li>
                <br>
                <li><b>Etapa de Operaciones Formales (12 años en adelante): </b>Pensamiento lógico y abstracto, razonamiento hipotético.</li>
                <br>
            </ul>
        </li>
        <li><b>Teoría Psicosocial de Erikson:</b> Erikson destacó que el desarrollo abarca conflictos psicosociales en cada etapa de la vida:
            <ul class="sublist">
                <li>
                    <b>Infancia: </b>Confianza vs. Desconfianza.
                </li>
                <br>
                <li>
                    <b>Niñez Temprana: </b>Autonomía vs. Vergüenza y Duda.
                </li>
                <br>
                <li>
                    <b>Edad Preescolar: </b>Iniciativa vs. Culpa.
                </li>
                <br>
                <li>
                    <b>Edad Escolar: </b>Industria vs. Inferioridad.
                </li>
                <br>
                <li>
                    <b>Adolescencia: </b>Identidad vs. Confusión de Rol.
                </li>
                <br>
                <li>
                    <b>Adulto Joven: </b>Intimidad vs. Aislamiento.
                </li>
                <br>
                <li>
                    <b>Adulto Maduro: </b>Generatividad vs. Estancamiento.
                </li>
                <br>
                <li>
                    <b>Vejez: </b>Integridad vs. Desesperación
                </li>
                <br>
            </ul>
        </li>
        <li><b>Teoría Histórico-Sociocultural de Vygotsky: </b>Vygotsky enfatizó el papel de la interacción social en el aprendizaje:
            <ul class="sublist">
                <br>
                <li>
                    <b>Zona de Desarrollo Próximo (ZDP): </b>El aprendizaje ocurre entre lo que un niño puede hacer solo y lo que puede lograr con ayuda.
                </li>
                <br>
                <li>Las herramientas culturales, como el lenguaje, son esenciales para el desarrollo cognitivo.</li>
                <br>
            </ul>
        </li>
        <li><b>Teoría del Apego de Bowlby: </b>El apego es fundamental para el desarrollo emocional:
            <ul class="sublist">
                <br>
                <li>
                    <b>0-2 años: </b>Formación de vínculos con cuidadores.
                </li>
                <br>
                <li>
                    <b>6 meses-2 años: </b>Apego claro y ansiedad por separación.
                </li>
                <br>
                <li>
                    <b>2-4 años: </b>Relación recíproca con la figura de apego.
                </li>
                <br>
                <li>
                    <b>4 años en adelante: </b>Internalización del apego, base para relaciones adultas.
                </li>
                <br>
            </ul>
        </li>
        <li><b>Hitos del Desarrollo en los Primeros Dos Años: </b>Durante los primeros dos años de vida, los niños alcanzan importantes logros en diferentes áreas:
            <ul class="sublist">
                <br>
                <li><b>Motriz: </b>Desde sostener la cabeza y gatear, hasta caminar y correr.</li>
                <br>
                <li><b>Cognitivo: </b>Reconocimiento de objetos ocultos y resolución de problemas simples.</li>
                <br>
                <li><b>Comunicación: </b>Desde balbucear hasta usar frases cortas.</li>
                <br>
                <li><b>Emocional: </b>Desarrollo de emociones complejas y empatía.</li>
                <br>
                <li><b>Social: </b>Formación de vínculos con cuidadores y juegos cooperativos.</li>
                <br>
            </ul>
        </li>
        <div class="imagenes">
            <img src="assets/img/infancia.gif" alt="Otro aspecto del desarrollo" />
        </div>
        <li><b>Signos de Alerta en el Desarrollo Infantil: </b>Es crucial identificar posibles retrasos en el desarrollo para ofrecer apoyo adecuado. Algunos signos incluyen:
            <ul class="sublist">
                <li><b>3-6 meses: </b>No levantar la cabeza, falta de balbuceo, o no sonreír.</li>
                <br>
                <li><b>6-9 meses: </b>No sentarse sin apoyo, falta de interés por explorar.</li>
                <br>
                <li><b>9-12 meses: </b>No gatear, no responder al propio nombre.</li>
                <br>
                <li><b>12-18 meses: </b>No caminar sin apoyo, dificultades para comunicarse.</li>
                <br>
            </ul>
        </li>
    </ul>
    <!-- Modal -->
  <div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h2>¿Qué hace la Psicología Infantil?</h2>
      <p>
        La psicología infantil es fundamental para entender el desarrollo emocional, cognitivo y
        social de los niños. Es esencial para identificar cualquier dificultad temprana y proporcionar
        el apoyo adecuado para su bienestar.
      </p>
      <p>Video Sacado del canal APRENDAMOS PSICOLOGIA de youtube.</p>
      <div class="video-container">
        <video #videoPlayer width="560" height="315" controls>
          <source src="assets/vid/infantil.mp4" type="video/mp4" />
          Tu navegador no soporta el elemento de video.
        </video>
      </div>
      <button (click)="closeModal()">Cerrar</button>
    </div>
  </div>
</section>
