
<app-navbar></app-navbar>
<div class="container">
  <div class="music-player" style="position: fixed; bottom: 20px; right: 20px; background-color: rgba(163, 106, 196, 0.7); padding: 10px; border-radius: 10px;">
    <div>
      <p style="color: rgb(75, 3, 65); font-size: 16px;">Reproduciendo: {{ playlistNames[selectedSongIndex] }}</p>
      <select [(ngModel)]="selectedSongIndex" (change)="changeSong(selectedSongIndex)" style="background-color: rgba(77, 25, 107, 0.4) ; color: white; border: none; padding: 5px; border-radius: 5px;">
        <option *ngFor="let song of playlistNames; let i = index" [value]="i">{{ song }}</option>
      </select>
      <div style="margin-top: 10px;">
        <!-- Botón de pausa/reproducción -->
        <button (click)="togglePlayPause()" style="background-color: rgba(77, 25, 107, 0.4); color: white; border: none; padding: 5px 10px; border-radius: 5px;">
          {{ isPlaying ? 'Pausar' : 'Reanudar' }}
        </button>
      </div>
    </div>
  </div>
  <app-section1-analysis></app-section1-analysis>
  <app-section2-adolescence></app-section2-adolescence>
  <app-section3-adulthood></app-section3-adulthood>
  <app-section4-academic-journal></app-section4-academic-journal>
  <app-section5-final-reflections></app-section5-final-reflections>
</div>
<app-footer></app-footer>
