<section id="section2" class="section">
    <h2>Adolescencia</h2>
    <div class="imagenes">
      <img src="assets/img/adolescencia1.jpeg" alt="Adolescencia" />
      <img src="assets/img/adolescencia2.jpeg" alt="Adolescencia" />
    </div>
    <!-- Agregar el enlace para abrir el modal -->
    <div class="imagenes">
      <a href="#" (click)="openModal($event)">Ver Video</a>
  </div>
    <p>
      La adolescencia es una etapa crucial en el desarrollo humano que abarca aproximadamente entre los 12 y 18 años 
      (aunque puede variar según factores culturales y biológicos). Es un período de transición entre la niñez y la adultez, 
      caracterizado por cambios profundos en el ámbito biológico, cognitivo, emocional y social.
    </p>
    <ul class="floral-list">
      <li><b>De la infancia a la adolescencia:</b> Aspectos de transición y trayectoria (cambios que transforman el cuerpo de niño en el de un adulto, desarrollo corporal, reacciones emocionales, diferencias hombre - mujer).
      </li>
      <li><b>Acontecimientos Evolutivos en la Adolescencia:</b> Diferencias entre Mujeres y Hombres
        La adolescencia es un período de transformaciones significativas que afectan el cuerpo, las emociones y la mente. Aunque hombres y mujeres atraviesan procesos similares, las diferencias biológicas, hormonales y emocionales hacen que cada experiencia sea única.
      </li>
      <li><b>Desarrollo Corporal</b>
          <ul class="sublist">
              <li>
                  <b>En las mujeres: </b>La pubertad suele comenzar entre los 8 y 13 años. Las primeras señales incluyen el desarrollo mamario y la aparición de vello en las axilas y la zona púbica. Eventualmente, ocurre la menarquía (primera menstruación), que marca la maduración del sistema reproductivo. Las mujeres también experimentan un estirón de crecimiento que generalmente se completa antes que en los hombres.
              </li>
              <br>
              <li>
                  <b>En los hombres: </b>El inicio de la pubertad suele darse entre los 9 y 14 años. El crecimiento de los testículos y el pene es uno de los primeros cambios, seguido por la aparición de vello facial, corporal y púbico. La voz se vuelve más grave, y su estirón de crecimiento tiende a prolongarse más allá de la pubertad inicial, resultando en mayor altura promedio.
              </li>
              <br>
          </ul>
      </li>
      <li><b>Cambios Hormonales y Emocionales </b>
          <ul class="sublist">
              <br>
              <li>
                  <b>En las mujeres: </b>El aumento de estrógenos regula los cambios físicos y tiene un impacto significativo en las emociones. Muchas adolescentes experimentan sensibilidad emocional, cambios de humor y, a menudo, un vínculo más fuerte con sus emociones internas, influenciado por su ciclo menstrual.
              </li>
              <br>
              <li>
                  <b>En los hombres: </b>La testosterona impulsa el desarrollo muscular, el crecimiento de vello y la maduración de los órganos sexuales. Esta hormona también está relacionada con un aumento en los niveles de energía, agresividad y la búsqueda de independencia, aunque estos cambios varían según el individuo.
              </li>
              <br>
          </ul>
      </li>
      <li><b>Aspectos Sociales y Psicológicos </b>
          <ul class="sublist">
              <br>
              <li>
                  <b>En las mujeres: </b>Las adolescentes suelen enfrentarse a presiones relacionadas con la autoimagen y las expectativas sociales. La menstruación y otros cambios físicos pueden generar tanto orgullo como inseguridad. Socialmente, muchas desarrollan habilidades comunicativas avanzadas y tienden a formar relaciones más emocionales.
              </li>
              <br>
              <li>
                  <b>En los hombres: </b>Los adolescentes varones suelen ser empujados hacia la competencia y la independencia. A menudo enfrentan desafíos relacionados con el manejo de emociones, ya que las normas sociales pueden desincentivar la expresión emocional abierta. Sin embargo, desarrollan habilidades físicas y espaciales que reflejan su crecimiento y confianza.
              </li>
              <br>
          </ul>
      </li>
      <li><b>Trayectorias Evolutivas </b>
          <ul class="sublist">
              <br>
              <li>La adolescencia no solo es un proceso de maduración física, sino una etapa en la que hombres y mujeres desarrollan habilidades únicas y enfrentan desafíos específicos. A medida que avanzan hacia la adultez, estas diferencias evolutivas forman la base de la diversidad y complementariedad que caracteriza al ser humano.
                Entender estas diferencias no solo nos permite apoyar mejor a los adolescentes, sino también apreciar cómo cada género experimenta la transición hacia una vida adulta plena.
              </li>
              <br>
          </ul>
      </li>
      <li><b>Reacciones Emocionales </b>
          <ul class="sublist">
              <li><b>En las mujeres: </b>Los cambios hormonales, particularmente el aumento de estrógenos y progesterona, pueden intensificar las emociones, provocando cambios de humor, sensibilidad emocional y, a veces, ansiedad o inseguridad. Estas reacciones suelen estar ligadas a las fluctuaciones hormonales del ciclo menstrual.</li>
              <br>
              <li><b>En los hombres: </b>El incremento de testosterona está asociado con impulsividad, aumento de energía y, en algunos casos, agresividad. Aunque pueden experimentar cambios emocionales, las normas sociales a menudo limitan la expresión abierta de sus sentimientos, lo que puede influir en su desarrollo emocional.</li>
              <br>
          </ul>
      </li>
      <div class="imagenes">
        <img src="assets/img/anojo.png" alt="Enojo" />
      </div>
      <li><b>Diferencias entre Hombres y Mujeres</b>
        <ul class="sublist">
          <li><b>Físicas: </b>Las mujeres suelen alcanzar la madurez física antes, mientras que los hombres tienden a ser más altos y musculosos al final de la pubertad.</li>
          <li><b>Emocionales: </b>Las mujeres tienden a desarrollar una mayor conciencia emocional y habilidades de comunicación, mientras que los hombres pueden enfocarse más en la independencia y la competencia.</li>
          <li><b>Sociales: </b>Las mujeres enfrentan mayor presión relacionada con la autoimagen y las expectativas de género, mientras que los hombres pueden sentir la necesidad de demostrar fortaleza y éxito.</li>
        </ul>
      </li>
  </ul>
  <!-- Modal -->
  <div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h2>Datos curiosos sobre la adolescencia</h2>
      <ul>
        <li><b>El cerebro aún está en construcción</b> Aunque un adolescente puede parecer físicamente maduro, su cerebro sigue desarrollándose hasta los 25 años aproximadamente. Esto afecta áreas como la toma de decisiones, el control de impulsos y la empatía.</li>
        <li><b>El "auditorio imaginario" </b>Los adolescentes suelen creer que todos los están observando y juzgando. Esto se debe a un fenómeno psicológico donde su pensamiento egocéntrico les hace sentir que son el centro de atención.</li>
        <li><b>El drama es natural </b>Debido a los cambios hormonales y la activación intensa de su sistema límbico, los adolescentes tienden a exagerar los problemas emocionales. Esto es normal y suele equilibrarse con la maduración.</li>
      </ul>
      <p>Video Sacado del canal APRENDAMOS PSICOLOGIA de youtube.</p>
      <div class="video-container">
        <video #videoPlayer width="560" height="315" controls>
          <source src="assets/vid/adolescencia.mp4" type="video/mp4" />
          Tu navegador no soporta el elemento de video.
        </video>
      </div>
      <button (click)="closeModal()">Cerrar</button>
    </div>
  </div>
  </section>
  