<section id="section3" class="section">
    <h2>Adultez emergente y temprana (18-40 años)</h2>
    <div class="imagenes">
      <img src="assets/img/adultez1.jpeg" alt="adultez" />
      <img src="assets/img/adultez2.jpeg" alt="adultez" />
    </div>
    <!-- Agregar el enlace para abrir el modal -->
    <div class="imagenes">
      <a href="#" (click)="openModal($event)">Ver Video</a>
  </div>
  <br>
  <br>
    <p>
        la vejez se entiende como una etapa del ciclo de vida humana caracterizada por cambios físicos, 
        emocionales y cognitivos. A lo largo de esta etapa, las personas experimentan una serie de adaptaciones y 
        desafíos que son influenciados por factores biológicos, sociales y culturales. La vejez no se define solo por la edad cronológica, 
        sino también por las experiencias, los valores y las actitudes que las personas desarrollan hacia el envejecimiento.
    </p>
    <br>
    <br>
    <ul class="floral-list">
      <li><b>Acontecimientos físicos:</b>
        <ul class="sublist">
            <li>
                <b>Crecimiento físico: </b>Se alcanza el máximo desarrollo físico entre los 20 y 30 años, con alta capacidad cardiovascular, muscular y sensorial.
            </li>
            <br>
            <li>
                <b>Declive gradual: </b>A partir de los 30 años, comienzan cambios sutiles como la disminución de la fuerza muscular y la elasticidad de la piel
            </li>
            <br>
            <li>
                <b>Salud reproductiva: </b>En mujeres, la fertilidad alcanza su punto máximo en los 20 años y comienza a disminuir después de los 30.
            </li>
            <br>
        </ul>
      </li>
      <li><b>Acontecimientos cognoscitivos:</b>
          <ul class="sublist">
              <li>
                  <b>Desarrollo del pensamiento posformal: </b>Se caracteriza por la capacidad de manejar la ambigüedad, el relativismo y la resolución de problemas complejos.
              </li>
              <br>
              <li>
                  <b>Creatividad: </b>En esta etapa, las personas suelen tener un pico en creatividad y flexibilidad cognitiva.
              </li>
              <br>
              <li>
                <b>Educación y carrera: </b>La adultez emergente está marcada por el enfoque en la consolidación académica o profesional.
              </li>
          </ul>
      </li>
      <li><b>Acontecimientos psicosociales:</b>
          <ul class="sublist">
              <br>
              <li>
                  <b>Intimidad vs. aislamiento (Erikson): </b>La construcción de relaciones cercanas y significativas, como el matrimonio o amistades profundas, es crucial.
              </li>
              <br>
              <li>
                  <b>Exploración de identidad: </b>Mayor enfoque en metas personales, independencia y elecciones importantes en carrera, pareja y valores.
              </li>
              <br>
              <li>
                  <b>Estabilidad económica y social: </b> Etapa de transición entre la dependencia familiar y la independencia total.
              </li>
              <br>
          </ul>
      </li>
      <br>
      <h4><b>Adultez media (40-65 años)</b></h4>
      <div class="imagenes">
        <img src="assets/img/viejitos.gif" alt="Enojo" />
      </div>
      <br>
      <br> 
      <li><b>Acontecimientos físicos: </b>
          <ul class="sublist">
              <br>
              <li>
                  <b>Cambios hormonales: </b>En las mujeres, ocurre la menopausia entre los 45 y 55 años; en los hombres, disminuyen gradualmente los niveles de testosterona.
              </li>
              <br>
              <li>
                  <b>Aparición de enfermedades crónicas: </b>Hay mayor riesgo de hipertensión, diabetes y problemas articulares.
              </li>
              <br>
              <li>
                  <b>Cambios visibles: </b>Aumento de peso, disminución de la masa muscular y pérdida de elasticidad en la piel.
              </li>
              <br>
          </ul>
      </li>
      <li><b>Acontecimientos cognoscitivos: </b>
          <ul class="sublist">
              <br>
              <li>
                <b>Inteligencia fluida vs. cristalizada: </b>La inteligencia fluida (procesamiento rápido de información) comienza a declinar, pero la cristalizada (conocimiento acumulado) suele incrementarse.
              </li>
              <br>
              <li>
                <b>Capacidad para resolver problemas prácticos: </b>Mayor competencia en habilidades relacionadas con experiencia acumulada.
              </li>
              <br>
              <li>
                <b>Desarrollo profesional y aprendizaje continuo: </b>Persiste el interés por nuevas habilidades y adaptación al cambio tecnológico.
              </li>
              <br>
          </ul>
      </li>
      <li><b>Acontecimientos psicosociales: </b>
          <ul class="sublist">
              <br>
              <li><b>Generatividad vs. estancamiento (Erikson): </b>Se busca contribuir al bienestar de las siguientes generaciones a través de la crianza, trabajo o actividades comunitarias.</li>
              <br>
              <li><b>Reevaluación de metas vitales: </b>Crisis de la mediana edad para redefinir prioridades y objetivos.</li>
              <br>
              <li><b>Relaciones interpersonales: </b>Consolidación del matrimonio y familia, cuidado de padres mayores, y fortalecimiento de redes sociales.</li>
              <br>
          </ul>
      </li>
      <h4><b>Adultez tardía (65 años en adelante)</b></h4>
      <div class="imagenes">
        <img src="assets/img/viejitos2.gif" alt="Enojo" />
      </div>
      <br>
      <br> 
      <li><b>Acontecimientos físicos: </b>
        <ul class="sublist">
            <br>
            <li><b>Envejecimiento visible: </b>Mayor fragilidad ósea, disminución de la masa muscular y disminución de la agudeza sensorial.</li>
            <br>
            <li><b>Enfermedades crónicas: </b>Incremento en condiciones como artritis, enfermedades cardiovasculares y pérdida de memoria asociada a la edad.</li>
            <br>
            <li><b>Reducción de energía física: </b>Se pierde resistencia, pero muchas personas mantienen actividades físicas moderadas.
            </li>
            <br>
        </ul>
      </li>
      <li><b>Acontecimientos cognoscitivos: </b>
        <ul class="sublist">
            <br>
            <li><b>Declive cognitivo variable: </b>Algunas habilidades como la memoria a corto plazo y la velocidad de procesamiento disminuyen, pero otras como el conocimiento general y vocabulario se mantienen.</li>
            <br>
            <li><b>Riesgo de enfermedades neurodegenerativas: </b>Como el Alzheimer o la demencia.</li>
            <br>
            <li><b>Sabiduría: </b>Incremento en la capacidad de integrar experiencias y ofrecer soluciones basadas en la experiencia de vida.</li>
            <br>
        </ul>
      </li>
      <li><b>Acontecimientos psicosociales: </b>
        <ul class="sublist">
            <br>
            <li><b>Integridad vs. desesperación (Erikson):  </b>Reflexión sobre la vida vivida, aceptación del pasado y desarrollo de la sabiduría; o, en contraste, arrepentimiento y temor al final de la vida.</li>
            <br>
            <li><b>Reducción de roles sociales: </b>Jubilación, nido vacío, y cambios en las dinámicas familiares.</li>
            <br>
            <li><b>Afrontar la mortalidad: </b>Desarrollo de estrategias de afrontamiento para aceptar el envejecimiento y la finitud.</li>
            <br>
        </ul>
      </li>
  </ul>
  <!-- Modal -->
  <div class="modal" [ngClass]="{'show': isModalOpen}" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <h2>Datos curiosos sobre la adultez</h2>
      <ul>
        <li><b>La crisis del "adulting":</b> En este periodo, muchos se dan cuenta de que hacer tareas de adulto (como lavar la ropa o llenar formularios) no viene con un manual. La psicología explica que esto puede causar la famosa "crisis de la adultez", especialmente cuando te das cuenta de que las plantas en tu casa no se riegan solas.</li>
        <li><b>La "crisis de la mitad de la vida" o "Mid-life Crisis": </b>Este es el momento en que algunos adultos se dan cuenta de que ya no son tan jóvenes como antes y, en algunos casos, sienten la necesidad de cambiar de look o comprar un coche deportivo. Según Freud, esto podría ser una forma de recuperar la juventud perdida, aunque la psicología sugiere que también es una forma de reafirmar el control sobre la vida.</li>
        <li><b>La "cultura de las siestas": </b>En la adultez tardía, la siesta pasa a ser un derecho adquirido y las personas disfrutan de dormir una hora después de comer sin sentir remordimientos. Según la psicología, este es un beneficio del envejecimiento: envejecer significa que puedes dormir cuando quieras y llamarlo "cuidados de salud".</li>
      </ul>
      <p>Video Sacado del canal Karina Mondaca de youtube.</p>
      <div class="video-container">
        <video #videoPlayer width="560" height="315" controls>
          <source src="assets/vid/adultez.mp4" type="video/mp4" />
          Tu navegador no soporta el elemento de video.
        </video>
      </div>
      <button (click)="closeModal()">Cerrar</button>
    </div>
  </div>
  </section>
  